body {
    background-color: rgb(247, 225, 193);
    
}

p {
    font-family: Georgia;
    color: rgb(37, 59, 22);
    font-weight: 900;
    font-size: 1.5cm;
    text-align: center;
    font-style:normal;


}

img {
    width: 900px;
    height: 1200px;
    opacity: 0.85;
   
}
video {
    width: 1000px;
    height: 900px;
    opacity: 0.85;
 

}
